<h2>New Sentence</h2>

<%= form_tag(controller: "sentences", action: "create", method: "post") do %>
  <%= hidden_field_tag :user_id, current_user.id %>
  <%= hidden_field_tag :story_id, story.id %>
  <%= text_area_tag :content %>
  <%= text_area_tag :image_url %>
  <%= submit_tag "Add sentence" %>
<% end %>
