<h2>Edit Story</h2>

<%= form_for story do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit "Edit Story" %>
  </div>
<% end %>
